<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Poderes</title>
</head>
<body>
    
    <h1>Poderes</h1>
    <img src="/images/grogu_trabajo.jpeg" />
    <p>Grogu era capaz de aprovechar las energías místicas de la Fuerza por cuenta de que era un ser sensible a la Fuerza. Una proyección notable de su poder estaba cuando él hizo levitar brevemente a un gigante cuerno de barro por los aires mediante telequinesis para salvar a Djarin de la bestia. Sin embargo, realizar esto era muy agotador para Grogu, ya que subsecuentemente cayó inconsciente por varias horas tras eso. Él también podía usar la Fuerza cuando se enojaba, como cuando él estranguló a Carasynthia Dune porque creía que ella estaba dañando a Djarin mientras luchaban con los brazos. Más tarde reveló la habilidad de sanar heridas graves e incluso curar envenenamiento tocando la herida y luego usando la Fuerza, aunque el acto, parecido a cuando elevó al curso de barró, fue increíblemente drenado. En otra notable proyección de telequinesis, Grogu también era capaz de crear una barrera usando la Fuerza, para proteger notablemente a sus compañeros al crear uno para contener una corriente de fuego de un soldado incinerador atacante.</p>
    <p>Grogu había mejorado en sus habilidades en su uso de la Fuerza, mientras moff Gideon observaba, para el tiempo de su captura de Tython. Para entonces, él fue capaz de manipular a dos soldados de asalto mediante telequinesis hasta que el sus poderes de la Fuerza se terminaron. Él también podía manipular pequeños y cercanos objetos con facilidad, como jalar galletas hacia sí mismo o desatornillar la perilla de una de los palancas del Razor Crest.</p>
    <hr>
    <a href="/">Inicio</a>
</body>
</html>